<!DOCTYPE html
 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <!--

-->
<html>

 <head>
	<title>Jockle - fake or proxy HTTP API request</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
 </head>

 <script>
$(document).ready(function() {
	$('textarea.expand').focus(function () {
		$(this).animate({ height: "10em" }, 500); 
	 });
})
 </script>

 <style>
.expand {
	height: 1em;
	width: 90%;
	padding: 3px;
}
 </style>

 <body>

 	<div class="container">
		<h2>API</h2>
		{% for api in apis %}
		<hr/>
		<form action="/updatejockle" method="POST">
			<div class="row"> 
				<div class="form-group">
					<input type="hidden" name="id" value="{{ api['id'] }}" />
					<div class="col-xs-4" >
						<input class="form-control" type="text" name="url" value="{{ api['url'] }}"/>
						<br/>
						<select class="form-control" name="type" value="{{ api['type'] }}">
							{% for mime in mimes %}
								{% if mime == api['type'] %}
									<option value="{{mime}}" selected="selected">{{mime}}</option>
								{% else %}
									<option value="{{mime}}">{{mime}}</option>
								{% endif %}
							{% endfor %}
						</select><br/>
						<select class="form-control" name="returncode">	
						{% for statuscode in statuscodes %}
							{% if statuscode[0] == api['returncode'] %}
								<option value="{{ statuscode[0] }}" selected>{{ statuscode[1] }}({{ statuscode[0] }})</option>
							{% else %}
								<option value="{{ statuscode[0] }}">{{ statuscode[1] }}({{ statuscode[0] }})</option>
							{% endif %}
						{% endfor %}
						</select>
					</div>


					<div class="col-xs-3" style="border-right:1px black solid">
						<select class="form-control" name="method">
							{% for method in ["GET", "POST", "PUT", "DELETE"] %}
								{% if method == api['method'] %}
									<option value="{{method}}" selected="selected">{{method}}</option>
								{% else %}
									<option value="{{method}}">{{method}}</option>
								{% endif %}
							{% endfor %} 

						</select> <br/>
						<textarea placeholder="return data" class="form-control expand" rows="4" name="returndata" cols="20">{{ api['returndata'] }}</textarea>



					</div>
					<div class="col-xs-4">
						<b>Input variables</b>

						<select class="form-control" name="inputtype">
						{% for inputtype in ["JSON", "FORM", "OTHER"] %}
								{% if inputtype == api['inputtype'] %}
									<option value="{{api['inputtype'] }}" selected="selected">{{api['inputtype'] }}</option>
								{% else %}

									<option value="{{ inputtype }}">{{ inputtype }}</option>
								{% endif %}
						{% endfor %}

						</select><br/>
						<textarea placeholder="" class="form-control" rows="4" name="inputvars" cols="40">{{ api['inputvars'] }}</textarea>
					</div>
				
					<div class="col-xs-1">

						<a href="{{ api['url'] }}"> link</a>
						<a href="jockledelete?url={{ api['url']|e }}"> delete</a>
						<input class="form-submit form-control" type="submit"  value="Save"/>
					</div>
				</div>
			</div>
		</form>
		{% endfor %}



		<br/>
		<br/>
		<hr/>
		<hr/>
		<div class="row">
			<div class="col-xs-5">
				<h2> Insert new api </h2>
			</div>
		</div>
		<form action="/insertjockle" method="POST">
			<div class="row"> 
				<div class="form-group">
					<div class="col-xs-5">
						<input  placeholder="Url" class="form-control" type="text" name="url"/>
					</div>
					<div class="col-xs-2">
						<select class="form-control" name="method">
							<option value="GET">GET</option>
							<option value="POST">POST</option>
							<option value="PUT">PUT</option>
							<option value="DELETE">DELETE</option>
						</select>
					</div>
					<div class="col-xs-3">
						<select class="form-control" name="type" value="">
							{% for mime in mimes %}
								{% if mime == "application/json" %}
									<option value="{{mime}}" selected="selected">{{mime}}</option>
								{% else %}
									<option value="{{mime}}">{{mime}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="col-xs-2">
						<select class="form-control" name="returncode">	
						{% for statuscode in statuscodes %}
							{% if statuscode[0] == 200 %}
								<option value="{{ statuscode[0] }}" selected>{{ statuscode[1] }}({{ statuscode[0] }})</option>
							{% else %}
								<option value="{{ statuscode[0] }}">{{ statuscode[1] }}({{ statuscode[0] }})</option>
							{% endif %}
						{% endfor %}
						</select>
					</div>

				</div>
			</div>
			<br/>
			<div class="row"> 
				<div class="form-group">

					<div class="col-xs-11">
						<textarea  placeholder="Return data" class="form-control input-xlarge" row="20" cols="20" name="returndata"></textarea>
					</div>


					<div class="col-xs-1">
						<br/><br/>
						<input class="form-submit" type="submit"  value="Insert"/>
					</div>

				</div>
			</div>
		</form>
		<hr/> <hr/>


		<div class="row"> 


			<form action="/updatejockleproxy" method="POST">
				<div class="form-group">
					<div class="col-xs-5">
						<h2> Proxy settings.</h2>
						<p>Every unknown path will be redirected to this url. Please write it as http://....:PORTNR/ or https://...:PORTNR/. <b>Remark</b> that the url has to be specified with the exact protocol and with or without www depending on the host. E.g. for proxying github only https://github.com will work, and http://github.com or https://www.github.com will not work. </p>
						<input class="form-control" type="text" name="proxyurl" value="{{ proxyurl }}"/>
						<br/>
						<input class="form-submit" type="submit"  value="Update proxy"/>
					</div>

				</div>
			</form>
				<div class="col-xs-5">
					<h2> Exportplugins</h2>
					<p>Every unknown path will be redirected to this url. Please write it as http://....:5000/ </p>
					{% for plugin in exportplugins %}
					<a href="/exportjockle?pluginnr={{ loop.index-1 }}">Export as {{ plugin.name }}</a><br/>
					{% endfor %}
				</div>
		</div>


	</div>

 </body>
</html>
